RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


php_value max_execution_time 900
php_value max_input_vars 8000
php_value max_input_time 1000
php_value post_max_size 700M
php_value upload_max_filesize 200M
php_value memory_limit 900M
